{
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "rules": {
        "import/no-webpack-loader-syntax": "off",
        "css-lcurlyexpected": "off"
    }
}