.c-modal-centered__rounded {
    -webkit-border-radius: 12px !important;
    -moz-border-radius: 12px !important;
    border-radius: 12px !important;
}
.c-modal-centered__header-button {
    outline: none !important;
}
.c-modal-centered__header-action {
    width: 1.25rem;
    height: 1.25rem;
}
div[aria-labelledby="example-modal-sizes-title-sm"] {
    padding: 0 10px !important;
}
@media only screen and (max-width: 576px) {
    .c-modal-centered__header-button {
        width: 0;
        height: 0;
        opacity: 0;
        display: none;
    }
}